@page
@model Task1.Web.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Product details";
}

<h2>Product details</h2>

<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">@Model.ProductModel.Name</h5>
        <p class="card-text">@Model.ProductModel.Description</p>
        <div class="d-flex align-items-center mb-1">
            <span class="badge badge-light-@(Model.ProductModel.IsActive ? "success" : "danger") me-auto">
                @(Model.ProductModel.IsActive ? "Active" : "Not Active")
            </span>
        </div>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>

        @if (Model.ProductModel.IsActive)
        {
            <a asp-page="/ClientProducts/Add" asp-route-id="@Model.ProductModel.Id" class="btn btn-primary">Add to Client</a>
        }
    </div>
</div>