@page
@model Task1.Web.Pages.ClientProducts.DeleteModel
@{
    ViewData["Title"] = "Delete Product";
}

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this product from this client?</h3>


<form method="post">
    
    <input type="hidden" asp-for="@Model.DeleteClientProduct.ProductId" />
    <input type="hidden" asp-for="@Model.DeleteClientProduct.ClientId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="/Clients/Details" asp-route-id="@Model.DeleteClientProduct.ClientId" class="btn btn-secondary">Cancel</a>
</form>
